<%= form_with(model: vendas_produto) do |form| %>
  <% if vendas_produto.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vendas_produto.errors.count, "error") %> prohibited this vendas_produto from being saved:</h2>

      <ul>
        <% vendas_produto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :venda_id, style: "display: block" %>
    <%= form.text_field :venda_id %>
  </div>

  <div>
    <%= form.label :produto, style: "display: block" %>
    <%= form.text_field :produto %>
  </div>

  <div>
    <%= form.label :quantidade, style: "display: block" %>
    <%= form.number_field :quantidade %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
