<div id="<%= dom_id vendas_produto %>">
  <p>
    <strong>Venda:</strong>
    <%= vendas_produto.venda_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= vendas_produto.produto %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= vendas_produto.quantidade %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= vendas_produto.valor %>
  </p>

</div>
